@using DraughtLeague.Web.ViewModels.Account
@model LoginVM
@{
    ViewBag.Title = "BeerItForward | Log in";
}
<div class="body-content" style="width: 400px">
    <div style="margin: 0 auto; width: 320px">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <div class="form-row" style="margin-bottom: 15px">
                <div class="form-label">
                    Email Address
                </div>
                <div style="text-align: right">
                    @Html.TextBoxFor(m => m.EmailAddress, new { style = "width: 200px" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-label">
                    Password
                </div>
                <div style="text-align: right">
                    @Html.PasswordFor(m => m.Password, new { style = "width: 200px" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-label" style="width: 125px">
                </div>
                <div style="text-align: right">
                    @Html.CheckBoxFor(x => x.RememberMe, new { style = "transform: scale(1.6); margin: 10px 10px 0 0" }) Remember Me
                </div>
            </div>

            <div style="text-align: center">
                <input type="submit" value="Log In" style="margin: 15px;" />
            </div>

            <div style="text-align: center">
                <a href="@Url.Action("ForgotPassword", "Account")">Forgot Password</a>
            </div>
        }
    </div>
</div>


<style>
    .form-label {
        width: 200px
    }
</style>