@model BiF.Web.ViewModels.Account.ResetPasswordVM
@{
    ViewBag.Title = "BeerItForward | Reset Password";
}

<div class="body-content" style="width: 500px">

    <h2>Password Reset</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.HiddenFor(model => model.Code)

        <div style="margin: auto; width: 360px">
            <div class="form-row" style="margin-bottom: 15px">
                <div class="form-label" style="width: 150px">
                    Email Address
                </div>
                <div style="text-align: right">
                    @Html.TextBoxFor(m => m.Email, new { style = "width: 200px" })
                </div>
            </div>

            <div class="form-row" style="margin-bottom: 15px">
                <div class="form-label" style="width: 150px">
                    New Password
                </div>
                <div style="text-align: right">
                    @Html.PasswordFor(m => m.Password, new { style = "width: 200px" })
                </div>
            </div>

            <div class="form-row" style="margin-bottom: 15px">
                <div class="form-label" style="width: 150px">
                    Confirm New Password
                </div>
                <div style="text-align: right">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { style = "width: 200px" })
                </div>
            </div>
        </div>

        <div style="text-align: center">
            <input type="submit" value="Reset" />
        </div>



}
</div>
